@charset "utf-8";
@font-face {font-family: bwrath; src: url(sfonts/b_wrath.ttf);}
@font-face {font-family: folkard; src: url(sfonts/folkard.ttf);}
@font-face {font-family: warcraft; src: url(sfonts/WarcraftFont.ttf);}
@font-face {font-family: starcraft; src: url(sfonts/RUSStarcraft.ttf);}
@font-face {font-family: neverwinter; src: url(sfonts/RUSNeverwinter.ttf);}